{% extends 'base.html.twig' %}

{% block title %}
    <title>Registro de Usuarios!</title>
{% endblock %}

{% block body %}
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #d3f7dc; /* Verde pastel */
            margin: 0;
            padding: 0;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .form-container {
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .form-title {
            margin-top: 0;
            text-align: center;
        }

        .form {
            margin-bottom: 20px;
        }

        .form-control {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ced4da;
            border-radius: 5px;
        }

        .btn {
            width: 100%;
            padding: 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .btn:hover {
            background-color: #0056b3;
        }

        .register-link {
            text-align: center;
        }

        .register-link a {
            color: #007bff;
            text-decoration: none;
        }

        .register-link a:hover {
            text-decoration: underline;
        }
    </style>

    <h1>Registro</h1>
    {{ form_start(form) }}
        {{ form_row(form.nombre) }}
        {{ form_row(form.apellidos) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}
        {{ form_widget(form.submit) }}
    {{ form_end(form) }}
    ¿Ya tienes una cuenta?
    <a href="{{ path('inicio_sesion') }}">Inicia Sesion</a>
{% endblock %}